.App {
    width: 450px;
    margin: 50px auto;
}

.container {
    border: 2px solid red;
    color: white;
    text-align: end;
    border: 10px solid;
    border-image-source: linear-gradient(130deg, #A9235A, #6C2444);
    border-image-slice: 1;
}

.clear-history {
    background-color:#D40640;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    transform: scale(0.8);
    position: relative;
    right: -30%;
}

.clear-history:hover {
    transform: scale(0.9);
}