.buttons {
    display: flex;
    flex-wrap: wrap;
 }
 
 .buttons button {
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 8px 20px;
    box-sizing: border-box;
    outline: none;
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
 }
 .long-btn {
    flex: 1;
 }
 
 .operatorBtn {
    color: #D40942;
 }
 
 .mathBtn {
    color: #FF4006;
 }
 button.long-btn {
    background-color: #D40640;
    color: #fff;
 }
 .buttons button:hover {
    background-color: #D40640;
    color: #fff;
 }