
.display-container {
    display: flex;
    flex-direction: column;
}

.display-container textarea {
    background-color: #e91e63;
    padding: 1em .5em;
    outline: none;
    border: 0;
    resize: none;
    text-align: end;
    color: white;
}